<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.windeye">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <uses-feature 
        android:name="android.hardware.microphone" 
        android:required="true" />

    <application
        android:allowBackup="true"
        android:label="WindEye"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        
        <activity android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
            
        <activity
            android:name=".RecordsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
    </application>

</manifest>
